{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}content block creation{% endblock %}

{% block description %}Manage content application{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/admin/plugins/chosen-bootstrap/chosen/chosen.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/admin/plugins/bootstrap-fileupload/bootstrap-fileupload.css') }}"/>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="portlet box blue" id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-reorder"></i>Form Wizard - <span class="step-title">Step 1 of 2</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="clearfix">
                        <div class="btn-group">
                            <a href="{{ path('management_contentblock') }}" class="btn green">
                                <i class="m-icon-swapleft m-icon-white"></i> Back to the list
                            </a>
                        </div>
                    </div>
                    <form action="{{ path('management_contentblock_create') }}" id="bupload" class="form-horizontal" method="post" enctype="multipart/form-data">
                        <div class="form-wizard">
                            <div class="navbar steps">
                                <div class="navbar-inner">
                                    <ul class="row-fluid">
                                        <li class="span6">
                                            <a href="#tab1" data-toggle="tab" class="step active">
                                                <span class="number">1</span>
                                                <span class="desc"><i class="icon-ok"></i> Information</span>
                                            </a>
                                        </li>
                                        <li class="span6">
                                            <a href="#tab2" data-toggle="tab" class="step">
                                                <span class="number">2</span>
                                                <span class="desc"><i class="icon-ok"></i> Select File</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="bar" class="progress progress-success progress-striped">
                                <div class="bar"></div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <h3 class="block">Provide block details</h3>

                                    <div class="control-group">
                                        <label class="control-label">Name</label>

                                        <div class="controls">
                                            <input type="text" name="name" id="name" class="span6 m-wrap"/>
                                            <span class="help-inline">Provide block name</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Position</label>

                                        <div class="controls">
                                            <input type="number" name="position" id="position" class="span6 m-wrap"/>
                                            <span class="help-inline">Provide position on page (visibility order)</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Is active ?</label>

                                        <div class="controls">
                                            <input type="checkbox" name="active" id="active" class="span6 m-wrap"/>
                                            <span class="help-inline">Show the information</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <h3 class="block">Provide Image and File</h3>

                                    <div class="control-group">
                                        <label class="control-label">File Upload (.zip)</label>

                                        <div class="controls">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <span class="btn btn-file">
                                    <span class="fileupload-new">Select file</span>
                                    <span class="fileupload-exists">Change</span>
                                    <input type="file" name="file" id="file" class="default"/>
                                    </span>
                                                <span class="fileupload-preview"></span>
                                                <a href="#" class="close fileupload-exists" data-dismiss="fileupload"
                                                   style="float: none"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Image Upload</label>

                                        <div class="controls">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="fileupload-new thumbnail"
                                                     style="width: 200px; height: 150px;">
                                                    <img src=""
                                                         alt=""/>
                                                </div>
                                                <div class="fileupload-preview fileupload-exists thumbnail"
                                                     style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                                <div>
                                       <span class="btn btn-file"><span class="fileupload-new">Select image</span>
                                       <span class="fileupload-exists">Change</span>
                                       <input type="file" name="image" id="image" class="default"/></span>
                                                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                </div>
                                            </div>
                                            <span class="label label-important">NOTE!</span>
                                 <span>
                                 Attached image thumbnail is
                                 supported in Latest Firefox, Chrome, Opera,
                                 Safari and Internet Explorer 10 only
                                 </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions clearfix">
                                <a href="javascript:;" class="btn button-previous">
                                    <i class="m-icon-swapleft"></i> Back
                                </a>
                                <a href="javascript:;" class="btn blue button-next">
                                    Continue <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                                <a href="javascript:;" class="btn green button-submit">
                                    Create <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"
            src="{{ asset('bundles/admin/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/admin/plugins/chosen-bootstrap/chosen/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/scripts/form-wizard.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/admin/plugins/bootstrap-fileupload/bootstrap-fileupload.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            FormWizard.init();
        });
    </script>
{% endblock %}
