{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Main Infuence{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/admin/css/pages/search.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/admin/plugins/data-tables/DT_bootstrap.css') }}"/>
{% endblock %}

{% block content %}
    <div class="row-fluid profile">
        <div class="span12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Audios</a></li>
                    <li><a href="#tab_1_2" data-toggle="tab">Ebooks</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane row-fluid active" id="tab_1_1">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="booking-app">
                                        <a href="{{ path('management_audio_new') }}">
                                            <i class="icon-headphones pull-right"></i>
                                            <span class="pull-right">Registrar fichero de audio</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="space40"></div>
                        {% endif %}
                        <table class="table table-striped table-hover" id="audio">
                            <thead>
                            <tr>
                                <th align="center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for audio in audios %}
                                <tr class="odd gradeX">

                                    <td>
                                        <div class="row-fluid portfolio-block">
                                            <div class="span5 portfolio-text">
                                                <img src="{{ asset('bundles/admin/img/profile/portfolio/logo_azteca.jpg') }}"
                                                     alt=""/>

                                                <div class="portfolio-text-info">
                                                    <h4>{{ audio.author }}</h4>

                                                    <p>{{ audio.name }}</p>
                                                </div>
                                            </div>


                                            <div class="span5">
                                                <div class="portfolio-info">
                                                    Archivo de audio
                                                    <span>{{ audio.path }}</span>
                                                </div>
                                            </div>

                                            <div class="span2 portfolio-btn">
                                                <a href="{{ app.request.basePath ~ '/' ~ audio.getWebPath() }}"
                                                   class="btn bigicn-only"><span>Descargar</span></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!--tab_1_2-->
                    <div class="tab-pane row-fluid" id="tab_1_2">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="booking-app">
                                        <a href="{{ path('management_ebook_new') }}">
                                            <i class="icon-book pull-right"></i>
                                            <span class="pull-right">Registrar Ebook</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="space40"></div>
                        {% endif %}
                        <table class="table table-striped table-hover" id="ebook">
                            <thead>
                            <tr>
                                <th align="center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ebook in ebooks %}
                                <tr class="odd gradeX">
                                    <td>
                                        <div class="row-fluid portfolio-block">
                                            <div class="span5 portfolio-text">
                                                <img src="{{ asset('bundles/admin/img/profile/portfolio/logo_conquer.jpg') }}"
                                                     alt=""/>

                                                <div class="portfolio-text-info">
                                                    <h4>Ebook</h4>

                                                    <p>{{ ebook.name }}</p>
                                                </div>
                                            </div>


                                            <div class="span5">
                                                <div class="portfolio-info">
                                                    Fichero de Texto
                                                    <span>{{ ebook.path }}</span>
                                                </div>
                                            </div>

                                            <div class="span2 portfolio-btn">
                                                <a href="{{ app.request.basePath ~ '/' ~ ebook.getWebPath() }}"
                                                   class="btn bigicn-only"><span>Descargar</span></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"
            src="{{ asset('bundles/admin/plugins/data-tables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/admin/plugins/data-tables/DT_bootstrap.js') }}"></script>
    <script>
        $('#audio, #ebook').dataTable({
            "aLengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "Todos"] // change per page values here
            ],
            // set the initial value
            "iDisplayLength": 5,
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_  por página",
                "oPaginate": {
                    "sPrevious": "Anterior",
                    "sNext": "Siguiente"
                }
            },
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [0]
            }
            ]
        });
    </script>
{% endblock %}