{% extends 'FrontBundle::layout.html.twig' %}

{% block title %}NETVIRALPRO{% endblock %}

{% block body %}
    <div class="body">
        <div role="main" class="main">
            <div id="content" class="content full">
                <div class="row">
                    <div class="span12">
                        <div class="nivo-slider">
                            <div class="slider-wrapper theme-default">
                                <div id="nivoSlider" class="nivoSlider">
                                    <img src="{{ asset('bundles/front/images/skins/images/portfolio/mason_07.jpg') }}"
                                         data-thumb="{{ asset('bundles/front/img/slides/slide-1.jpg') }}" alt=""/>
                                    <img src="{{ asset('bundles/front/images/skins/images/portfolio/mason_02.jpg') }}"
                                         data-thumb="{{ asset('bundles/front/img/slides/slide-2.jpg') }}" alt=""/>
                                </div>
                                <div id="htmlcaption" class="nivo-html-caption"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="section messagesection custommessage color8">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>SOBRE NOSOTROS</h3>
            </div>
        </div><!-- end row -->
    </section><!-- end section -->

    <div class="row">
        <br><br>

        <div class="col-md-8 col-md-offset-2 text-center">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Netviralpro.com, pertenece al sector de venta de servicios y negocios online y se desarrolla a nivel
                    internacional. Esto permitirá al usuario desarrollar su propio negocio en cualquier parte del mundo.
                    La empresa, fundada por importantes empresarios internacionales, pretende fortalecer todos los
                    vínculos existentes entre los miembros de nuestra comunidad, las empresas y los usuarios
                    convencionales para que pueda existir un importante vínculo retroactivo entre todos.
                    NETVIRALPRO trabaja bajo un sistema de recompensas multinivel, donde se premia tanto el trabajo
                    individual como el grupal y donde todos los usuarios pueden obtener grandes beneficios, tanto por su
                    trabajo como por el de su grupo. Presenta un sistema retributivo flexible y transparente, lo que
                    supondrá al usuario una mayor estabilidad y confianza para saber que su negocio sigue creciendo de
                    una forma estable y sin ningún tipo de riesgo.
                </p>
            </div><!-- end col -->

            <div class="col-md-6">
                <p>Según expertos analistas en pocos años se convertirá en una de las empresas de mayor crecimiento a
                    nivel mundial, gracias a su novedosa visión de la industria multinivel. ¿Ha imaginado alguna vez una
                    oportunidad de negocio que le permita especializarse en el área o áreas de trabajo que usted mismo
                    decida? Pues bien, con NETVIRALPRO podrá conseguirlo y obtener grandes beneficios trabajando en algo
                    que realmente le guste. Además le dará la oportunidad de tener un sueldo de acuerdo a sus
                    expectativas y esfuerzo.
                    De este modo, gracias a la oportunidad de negocio que se ofrece desde NETVIRALPRO y el potencial de
                    crecimiento que se augura por parte de la compañía, hace que esté enfrente de usted una de las
                    oportunidades más brillantes de la historia. ¿Acepta este reto?
                    En NETVIRALPRO podrá trabajar por su cuenta, pero nunca estará sólo, ya que tras usted habrá una
                    importante red de trabajo.
                    NETVIRALPRO es sinónimo de ÉXITO.
                </p>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end row -->

    <div class="container">
        <div class="row social-count">
            <div class="col-md-3">
                <a href="#">
                    <div class="panel panel-default twitter">
                        <div class="panel-body">
                            <small class="social-title">Twitter</small>
                            <span class="stat-count">3312</span>
                            <i class="fa fa-twitter"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <div class="panel panel-default google-plus">
                        <div class="panel-body">
                            <small class="social-title">Google+</small>
                            <span class="stat-count">5553</span>
                            <i class="fa fa-google-plus"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <div class="panel panel-default facebook-like">
                        <div class="panel-body">
                            <small class="social-title">Facebook Like</small>
                            <span class="stat-count">1122</span>
                            <i class="fa fa-facebook"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <div class="panel panel-default linkedin">
                        <div class="panel-body">
                            <small class="social-title">Connected Visitor</small>
                            <span class="stat-count">345</span>
                            <i class="fa fa-linkedin"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <br><br>

            <div class="col-md-8 col-md-offset-2 text-center">
                <a href="#" class="btn btn-default">Empieza Ahora!</a>
            </div>
        </div>
    </div>


    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <a href="{{ path('homepage') }}">
                            <img alt="Megalifepro" src="{{ asset('bundles/front/img/netviralpro-negro-ms.png') }}">
                        </a>
                        <div class="row">
                            <h4></h4>
                        </div>
                        <h4>How We Are Working Like a Professionally</h4>

                        <h1>NUESTROS PRODUCTOS</h1>
                        <hr>
                    </div><!-- end title -->
                </div>
            </div>
        </div><!-- end container -->
    </section><!-- end section -->

    <section class="section lb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- tabs left -->
                    <div class="tabbable customtab">
                        <ul class="nav nav-pills nav-stacked col-md-3">
                            {% set referring_affiliate = app.session.get('affiliate') %}
                            {% for module in modules %}
                                <li>
                                    <a href="{% if referring_affiliate %}{{ path('affiliate_product', {'username': referring_affiliate, 'id' : module.id}) }}{% else %}{{ path('product', {'id' : module.id}) }}{% endif %}">
                                        <h3>{{ module.name }}</h3>

                                        <p>{{ module.description }}</p>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content col-md-9">
                            <div class="tab-pane fade in active" id="a">
                                <div class="tab-padding clearfix">
                                    <img src="{{ asset('bundles/front/upload/device_01.png') }}" alt=""
                                         class="img-responsive">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="b">
                                <div class="tab-padding clearfix">
                                    <img src="{{ asset('bundles/front/upload/device_02.png') }}" alt=""
                                         class="img-responsive">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="c">
                                <div class="tab-padding clearfix">
                                    <img src="{{ asset('bundles/front/upload/device_03.png') }}" alt=""
                                         class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end container -->
    </section><!-- end section -->

    <div class="row">
        <br>

        <div class="col-md-8 col-md-offset-2 text-center">
            <a href="#" class="btn btn-default">Ver nuestros productos</a>
        </div>
        <br><br>
    </div>

    <div class="row">
        <br><br>

        <div class="col-md-8 col-md-offset-2 text-center">
        </div>
    </div>

    <section class="section messagesection custommessage color10">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>OPORTUNIDAD DE NEGOCIOS</h3>
            </div>
        </div><!-- end row -->
    </section><!-- end section -->

    <div class="row">
        <br><br>

        <div class="col-md-8 col-md-offset-2 text-center">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="image-box-1">
                    <div class="image-box-desc">
                        <h2>Bienvenido a<span>NETVIRALPRO</span></h2>

                        <p>¿ Alguna vez imaginó tener la posibilidad de obtener grandes ingresos por trabajar en una
                            compañía en expansión a nivel internacional? Pues esto es posible gracias a NETVIRALPRO, una
                            importante empresa multinivel que le dará a usted la posibilidad de crear su propio negocio
                            online sin necesidad de invertir grandes sumas y sin correr el riesgo que le supondría a
                            usted tener un negocio particular. Su única misión en la compañía será potenciar su grupo de
                            trabajo y su red de clientes para poder llegar a obtener importantes beneficios. Para ello,
                            la empresa le dotará de potentes herramientas de marketing que le permitirán hacer crecer su
                            negocio. Netviralpro se encargará del resto: dar alojamiento y mantenimiento de sus páginas
                            personales, prestar servicio de atención al cliente y atención al representante y expandir
                            la compañía a nivel internacional. </p>
                        Trabajar en equipo divide el trabajo y multiplica los resultados.
                        ¡Este es tu momento, aprovéchalo!

                        <hr class="invis">

                        <img src="{{ asset('bundles/front/upload/sign.png') }}" alt="">

                    </div><!-- end desc -->
                </div><!-- end image-box 1 -->
            </div><!-- end col -->
        </div>
        <hr class="invis">
        <div class="row">
            <div class="col-md-4">
                <div class="image-box-1 colormagnifier">
                    <div class="image-boxes entry">
                        <img src="{{ asset('bundles/front/upload/service_01.jpg') }}" alt="" class="img-responsive">

                        <div class="magnifier">
                            <a href="#">
                                <div class="hovericons">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div><!-- end magnifier -->
                    </div><!-- end image-boxes -->
                    <div class="image-box-desc">
                        <h4>Gane su primera comisión rápidamente.</h4>

                        <p>Hi there, welcome to the ©Convert Web Solutions INC. We are small group who design beautiful
                            website.</p>
                        <a href="#" class="readmore">Learn More</a>
                    </div><!-- end desc -->
                </div><!-- end image-box 1 -->
            </div><!-- end col -->

            <div class="col-md-4">
                <div class="image-box-1 colormagnifier">
                    <div class="image-boxes entry">
                        <img src="{{ asset('bundles/front/upload/service_02.jpg') }}" alt="" class="img-responsive">

                        <div class="magnifier">
                            <a href="#">
                                <div class="hovericons">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div><!-- end magnifier -->
                    </div><!-- end image-boxes -->
                    <div class="image-box-desc">
                        <h4>Cree su propia red de trabajo.</h4>

                        <p>We are small group who design beautiful website templates, creative mobile applications,
                            graphics.</p>
                        <a href="#" class="readmore">Learn More</a>
                    </div><!-- end desc -->
                </div><!-- end image-box 1 -->
            </div><!-- end col -->

            <div class="col-md-4">
                <div class="image-box-1 colormagnifier">
                    <div class="image-boxes entry">
                        <img src="{{ asset('bundles/front/upload/service_03.jpg') }}" alt="" class="img-responsive">

                        <div class="magnifier">
                            <a href="#">
                                <div class="hovericons">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div><!-- end magnifier -->
                    </div><!-- end image-boxes -->
                    <div class="image-box-desc">
                        <h4>Obtén importantes ingresos.</h4>

                        <p>Beautiful website templates, creative mobile applications,, welcome to the ©Convert Web
                            Solutions INC.</p>
                        <a href="#" class="readmore">Learn More</a>
                    </div><!-- end desc -->
                </div><!-- end image-box 1 -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->

    <div class="row">
        <br>

        <div class="col-md-8 col-md-offset-2 text-center">
            <a href="#" class="btn btn-default">Ver Planes de Compensación</a>
        </div>
        <br><br>
    </div>

    <div class="row">
        <br><br>

        <div class="col-md-8 col-md-offset-2 text-center">
        </div>
    </div>

    <section class="section db">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="custom_fact_item row">
                        <div class="icon_holder col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <span class="fa fa-bar-chart"></span>
                        </div>
                        <div class="custom_fact_name col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <h6>Awards Winning</h6>
                            <span>We have won awards in a short time</span>
                        </div>
                        <span class="col-lg-3 col-md-3 col-sm-2 col-xs-12 stat-count">3331</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="custom_fact_item row">
                        <div class="icon_holder col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <span class="fa fa-braille"></span>
                        </div>
                        <div class="custom_fact_name col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <h6>Happy Clients</h6>
                            <span>We have hundreds of happy clients</span>
                        </div>
                        <span class="col-lg-3 col-md-3 col-sm-2 col-xs-12 stat-count">561</span>
                    </div>
                </div>

            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->

    <div class="row">
        <br><br>

        <div class="col-md-8 col-md-offset-2 text-center">
        </div>
    </div>

    <section class="section messagesection custommessage color2">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>TESTIMONIOS</h1>
            </div>
        </div><!-- end row -->
    </section><!-- end section -->

    <div class="row">
        <br><br>

        <div class="col-md-8 col-md-offset-2 text-center">
        </div>
    </div>

    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h4>Actualmente somos más de 1000 usuarios y seguimos creciendo…!</h4>

                        <h1>Estas son algunas de las opiniones de nuestros clientes…</h1>
                        <hr>
                    </div><!-- end title -->
                </div>
            </div>
        </div><!-- end container -->
    </div>

    <section class="section db">
        <div class="container-fluid">
            <div class="portfolio-wrapper">
                <div class="service-carousel-2 owl-carousel owl-theme">
                    <div class="pitem gallery-item">
                        <div class="media-element colormagnifier">
                            <div class="entry">
                                <img src="{{ asset('bundles/front/upload/single_portfolio_01.jpg') }}" alt=""
                                     class="img-responsive">

                                <div class="magnifier">
                                    <div class="magni-desc">
                                        <p>Web Design</p>
                                        <h4><a href="page-team-2.html">Lamb in Desctop</a></h4>
                                        <a class="firsticon" data-rel="prettyPhoto"
                                           href="{{ asset('bundles/front/upload/single_portfolio_01.jpg') }}"><i
                                                    class="fa fa-search"></i></a>
                                        <a class="secondicon" href="portfolio-single-1.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end team-desc -->
                                </div><!-- end magnifier -->
                            </div>
                        </div><!-- end media -->
                    </div><!-- item -->

                    <div class="pitem gallery-item">
                        <div class="media-element colormagnifier">
                            <div class="entry">
                                <img src="{{ asset('bundles/front/upload/single_portfolio_02.jpg') }}" alt=""
                                     class="img-responsive">

                                <div class="magnifier">
                                    <div class="magni-desc">
                                        <p>Web Design</p>
                                        <h4><a href="page-team-2.html">Landscape Web Materials</a></h4>
                                        <a class="firsticon" data-rel="prettyPhoto"
                                           href="{{ asset('bundles/front/upload/single_portfolio_02.jpg') }}"><i
                                                    class="fa fa-search"></i></a>
                                        <a class="secondicon" href="portfolio-single-1.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end team-desc -->
                                </div><!-- end magnifier -->
                            </div>
                        </div><!-- end media -->
                    </div><!-- item -->

                    <div class="pitem gallery-item">
                        <div class="media-element colormagnifier">
                            <div class="entry">
                                <img src="{{ asset('bundles/front/upload/single_portfolio_03.jpg') }}" alt=""
                                     class="img-responsive">

                                <div class="magnifier">
                                    <div class="magni-desc">
                                        <p>Material Design</p>
                                        <h4><a href="page-team-2.html">Cups of Coffee</a></h4>
                                        <a class="firsticon" data-rel="prettyPhoto"
                                           href="{{ asset('bundles/front/upload/single_portfolio_03.jpg') }}"><i
                                                    class="fa fa-search"></i></a>
                                        <a class="secondicon" href="portfolio-single-1.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end team-desc -->
                                </div><!-- end magnifier -->
                            </div>
                        </div><!-- end media -->
                    </div><!-- item -->

                    <div class="pitem gallery-item">
                        <div class="media-element colormagnifier">
                            <div class="entry">
                                <img src="{{ asset('bundles/front/upload/single_portfolio_04.jpg') }}" alt=""
                                     class="img-responsive">

                                <div class="magnifier">
                                    <div class="magni-desc">
                                        <p>Mockup Design</p>
                                        <h4><a href="page-team-2.html">100 white stairs</a></h4>
                                        <a class="firsticon" data-rel="prettyPhoto"
                                           href="{{ asset('bundles/front/upload/single_portfolio_04.jpg') }}"><i
                                                    class="fa fa-search"></i></a>
                                        <a class="secondicon" href="portfolio-single-1.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end team-desc -->
                                </div><!-- end magnifier -->
                            </div>
                        </div><!-- end media -->
                    </div><!-- item -->

                    <div class="pitem gallery-item">
                        <div class="media-element colormagnifier">
                            <div class="entry">
                                <img src="{{ asset('bundles/front/upload/single_portfolio_05.jpg') }}" alt=""
                                     class="img-responsive">

                                <div class="magnifier">
                                    <div class="magni-desc">
                                        <p>Mockup Design</p>
                                        <h4><a href="page-team-2.html">Man and Woman Happy to Work</a></h4>
                                        <a class="firsticon" data-rel="prettyPhoto"
                                           href="{{ asset('bundles/front/upload/single_portfolio_05.jpg') }}"><i
                                                    class="fa fa-search"></i></a>
                                        <a class="secondicon" href="portfolio-single-1.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end team-desc -->
                                </div><!-- end magnifier -->
                            </div>
                        </div><!-- end media -->
                    </div><!-- item -->

                    <div class="pitem gallery-item">
                        <div class="media-element colormagnifier">
                            <div class="entry">
                                <img src="{{ asset('bundles/front/upload/single_portfolio_06.jpg') }}" alt=""
                                     class="img-responsive">

                                <div class="magnifier">
                                    <div class="magni-desc">
                                        <p>Photography</p>
                                        <h4><a href="page-team-2.html">Laptop Workspace Example</a></h4>
                                        <a class="firsticon" data-rel="prettyPhoto"
                                           href="{{ asset('bundles/front/upload/single_portfolio_06.jpg') }}"><i
                                                    class="fa fa-search"></i></a>
                                        <a class="secondicon" href="portfolio-single-1.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end team-desc -->
                                </div><!-- end magnifier -->
                            </div>
                        </div><!-- end media -->
                    </div><!-- item -->

                    <div class="pitem gallery-item">
                        <div class="media-element colormagnifier">
                            <div class="entry">
                                <img src="{{ asset('bundles/front/upload/single_portfolio_07.jpg') }}" alt=""
                                     class="img-responsive">

                                <div class="magnifier">
                                    <div class="magni-desc">
                                        <p>Mockup Design</p>
                                        <h4><a href="page-team-2.html">Web Design Materials</a></h4>
                                        <a class="firsticon" data-rel="prettyPhoto"
                                           href="{{ asset('bundles/front/upload/single_portfolio_07.jpg') }}"><i
                                                    class="fa fa-search"></i></a>
                                        <a class="secondicon" href="portfolio-single-1.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end team-desc -->
                                </div><!-- end magnifier -->
                            </div>
                        </div><!-- end media -->
                    </div><!-- item -->
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <br><br>

        <div class="col-md-8 col-md-offset-2 text-center">
            <a href="#" class="btn btn-primary btn-block btn-lg">Ver mas testimonios</a>
            <!-- <a href="#" class="btn btn-default">Empieza Ahora!</a>-->
        </div>
    </div>

    <div class="row">
        <br><br>

        <div class="col-md-8 col-md-offset-2 text-center">
        </div>
    </div>

    <section class="section messagesection custommessage color6">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>PORQUE NETVIRALPRO?</h1>
            </div>
        </div><!-- end row -->
    </section><!-- end section -->

    <div class="row">
        <br><br>

        <div class="col-md-8 col-md-offset-2 text-center">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>NETVIRALPRO ofrece al usuario una oportunidad única para trabajar por cuenta propia pero siempre
                    apoyada por una importante red de trabajo que forma nuestra comunidad.
                    Como usuario dentro de la comunidad NETVIRALPRO tendrá la posibilidad de tener un horario flexible y
                    disfrutar de su tiempo libre mientras obtiene elevados beneficios por el trabajo de su red de
                    contactos.
                    En NETVIRALPRO le damos la oportunidad de aprovechar al máximo sus capacidades.
                    ¿Ha soñado alguna vez estar ganando dinero mientras está de viaje, va de compras, está cenando con
                    su familia o sale de fiesta con sus amigos? ¡NETVIRALPRO es su oportunidad!
                </p>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end row -->

    <div class="container">
        <div class="row service-list">
            <div class="col-md-4 col-sm-6" style="min-height: 190px;">
                <div class="serviceBox6">
                    <div class="service-icon withborder color1 hovicon effect-1 sub-a">
                        <i class="fa fa-american-sign-language-interpreting"></i>
                    </div>
                    <div class="service-content">
                        <h3>Trabajo en equipo</h3>

                        <p>
                            La forma en que se concibe el negocio. Cada uno trabaja individualmente pero además se
                            beneficia del trabajo de la red que ha creado.
                        </p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-md-4 col-sm-6" style="min-height: 190px;">
                <div class="serviceBox6">
                    <div class="service-icon withborder color2 hovicon effect-1 sub-a">
                        <i class="fa fa-anchor"></i>
                    </div>
                    <div class="service-content">
                        <h3>Beneficio por esfuerzo</h3>

                        <p>
                            Cada usuario recibe beneficio por su esfuerzo personal y por el esfuerzo del grupo de
                            trabajo que él mismo ha creado.
                        </p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-md-4 col-sm-6" style="min-height: 190px;">
                <div class="serviceBox6">
                    <div class="service-icon withborder color3 hovicon effect-1 sub-a">
                        <i class="fa fa-bicycle"></i>
                    </div>
                    <div class="service-content">
                        <h3>Transparencia</h3>

                        <p>
                            El modo en que la empresa se muestra hacia todos sus usuarios, las empresas y los clientes
                            potenciales.
                        </p>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!-- end col -->
        <div class="row service-list">
            <div class="col-md-4 col-sm-6" style="min-height: 190px;">
                <div class="serviceBox6">
                    <div class="service-icon withborder color4 hovicon effect-1 sub-a">
                        <i class="fa fa-magic"></i>
                    </div>
                    <div class="service-content">
                        <h3>Sostenibilidad</h3>

                        <p>
                            La forma en que la empresa plantea la idea de negocio.
                        </p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-md-4 col-sm-6" style="min-height: 190px;">
                <div class="serviceBox6">
                    <div class="service-icon withborder color5 hovicon effect-1 sub-a">
                        <i class="fa fa-object-group"></i>
                    </div>
                    <div class="service-content">
                        <h3>Eficacia</h3>

                        <p>
                            Entendida como la posibilidad que le da al usuario para tener su propio negocio y conseguir
                            un resultado brillante.
                        </p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-md-4 col-sm-6" style="min-height: 190px;">
                <div class="serviceBox6">
                    <div class="service-icon withborder color6 hovicon effect-1 sub-a">
                        <i class="fa fa-wifi"></i>
                    </div>
                    <div class="service-content">
                        <h3>Rendimiento óptimo</h3>

                        <p>
                            La posibilidad que la empresa da al usuario para que pueda conseguir beneficios de acuerdo a
                            su esfuerzo y el de su grupo de trabajo.
                        </p>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->

    <div class="row">
        <br><br>

        <div class="col-md-8 col-md-offset-2 text-center">
            <a href="#" class="btn btn-primary btn-block btn-lg">Empieza Ahora</a>
            <!-- <a href="#" class="btn btn-default">Empieza Ahora!</a>-->
        </div>
    </div>

    <div class="row">
        <br><br>

        <div class="col-md-8 col-md-offset-2 text-center">
        </div>
    </div>


{% endblock %}