{% extends '::base-admin.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block notifications %}
    <li class="dropdown" id="header_notification_bar">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-warning-sign"></i>
            <span class="badge">6</span>
        </a>
        <ul class="dropdown-menu extended notification">
            <li>
                <p>Tiene 14 notificaciones nuevas</p>
            </li>
            <li>
                <a href="#">
                    <span class="label label-success"><i class="icon-plus"></i></span>
                    New user registered.
                    <span class="time">Just now</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="label label-important"><i class="icon-bolt"></i></span>
                    Server #12 overloaded.
                    <span class="time">15 mins</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="label label-warning"><i class="icon-bell"></i></span>
                    Server #2 not respoding.
                    <span class="time">22 mins</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="label label-info"><i class="icon-bullhorn"></i></span>
                    Application error.
                    <span class="time">40 mins</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="label label-important"><i class="icon-bolt"></i></span>
                    Database overloaded 68%.
                    <span class="time">2 hrs</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="label label-important"><i class="icon-bolt"></i></span>
                    2 user IP blocked.
                    <span class="time">5 hrs</span>
                </a>
            </li>
            <li class="external">
                <a href="#">See all notifications <i class="m-icon-swapright"></i></a>
            </li>
        </ul>
    </li>
    <li class="dropdown" id="header_inbox_bar">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-envelope-alt"></i>
            <span class="badge">5</span>
        </a>
        <ul class="dropdown-menu extended inbox">
            <li>
                <p>Tiene 12 mensajes nuevos</p>
            </li>
            <li>
                <a href="#">
                    <span class="photo"><img src="{{ asset('bundles/admin/img/avatar2.jpg') }}" alt=""/></span>
                        <span class="subject">
                        <span class="from">Lisa Wong</span>
                        <span class="time">Just Now</span>
                        </span>
                        <span class="message">
                        Vivamus sed auctor nibh congue nibh. auctor nibh
                        auctor nibh...
                        </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="photo"><img src="{{ asset('bundles/admin/img/avatar3.jpg') }}" alt=""/></span>
                        <span class="subject">
                        <span class="from">Richard Doe</span>
                        <span class="time">16 mins</span>
                        </span>
                        <span class="message">
                        Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh
                        auctor nibh...
                        </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="photo"><img src="{{ asset('bundles/admin/img/avatar1.jpg') }}" alt=""/></span>
                        <span class="subject">
                        <span class="from">Bob Nilson</span>
                        <span class="time">2 hrs</span>
                        </span>
                        <span class="message">
                        Vivamus sed nibh auctor nibh congue nibh. auctor nibh
                        auctor nibh...
                        </span>
                </a>
            </li>
            <li class="external">
                <a href="#">See all messages <i class="m-icon-swapright"></i></a>
            </li>
        </ul>
    </li>
{% endblock %}

{% block menu %}
    {% import '@Admin/Macro/macros.html.twig' as macro %}
    {% set options = app.session.get('options_to_show') %}
    {% for option in options if option.AsociatedOption is null %}
        <li id="{{ option.name }}" class="treeview">
            <a href="{% if option.path %} {{ path(option.path) }} {% else %} # {% endif %}">
                <i class="{{ option.icon }}"></i>
                <span class="title">{{ option.name }}</span>
                {% if option.options | length > 0 %}<span class="arrow"></span>{% endif %}
            </a>
            {{ macro.recursiveList(option.options, option.id) }}
        </li>
    {% endfor %}
{% endblock %}

{% block description %}{% endblock %}

{% block content %}{% endblock %}

{% block javascripts %}{% endblock %}