{% extends 'FrontBundle::layout.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="first-slider">
        <div id="rev_slider_206_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="creative-freedom" style="background-color:#000000;padding:0px;">
            <div id="rev_slider_206_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.1RC">
                <ul>
                    <li data-index="rs-690" data-transition="fadethroughdark" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="2000" data-thumb="upload/slider_10.jpg" data-rotate="0" data-saveperformance="off" data-title="Welcome" data-param1="01" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('bundles/front/upload/slider_10.jpg') }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-tobggroup"
                             id="slide-690-layer-1"
                             data-x="['center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['0','0','0','0']"
                             data-width="full"
                             data-height="full"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;"
                             data-transform_out="opacity:0;s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
                             data-start="150"
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             style="z-index: 5;background-color:rgba(0, 0, 0, 0.1);border-color:rgba(0, 0, 0, 0);">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-3"
                             id="slide-690-layer-4"
                             data-x="['center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['-178','-178','-168','-141']"
                             data-width="1"
                             data-height="100"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:[100%];s:500;e:Power1.easeIn;s:500;e:Power1.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1500"
                             data-responsive_offset="on"
                             data-responsive="off"
                             style="z-index: 9;background-color:#ffffff;border-color:rgba(255, 255, 255, 0);">
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption Creative-SubTitle tp-resizeme rs-parallaxlevel-2"
                             id="slide-690-layer-3"
                             data-x="['center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['-91','-91','-81','-64']"
                             data-fontsize="['14','14','14','12']"
                             data-lineheight="['14','14','14','12']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
                             data-transform_out="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-start="2350"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 7; white-space: nowrap;text-align:center;">MULTI PURPOSE & BUSINESS
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption Creative-Title tp-resizeme rs-parallaxlevel-1"
                             id="slide-690-layer-2"
                             data-x="['center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['-10','-10','-10','-10']"
                             data-fontsize="['70','70','50','40']"
                             data-lineheight="['70','70','55','45']"
                             data-width="['none','none','none','320']"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
                             data-transform_out="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-start="2550"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 8; white-space: nowrap;text-align:center;">WELCOME TO THE
                            <br/> CONVERT INC.
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-3"
                             id="slide-690-layer-5"
                             data-x="['center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['137','137','119','100']"
                             data-width="1"
                             data-height="100"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:[-100%];s:500;e:Power1.easeIn;s:500;e:Power1.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="2900"
                             data-responsive_offset="on"
                             data-responsive="off"
                             style="z-index: 9;background-color:#ffffff;border-color:rgba(255, 255, 255, 0);">
                        </div>
                    </li>

                    <li data-index="rs-6901" data-transition="fadethroughdark" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="2000" data-thumb="upload/slider_07.jpg" data-rotate="0" data-saveperformance="off" data-title="Our Concept" data-param1="02" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('bundles/front/upload/slider_07.jpg') }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-tobggroup"
                             id="slide-690-layer-11"
                             data-x="['center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['0','0','0','0']"
                             data-width="full"
                             data-height="full"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;"
                             data-transform_out="opacity:0;s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
                             data-start="150"
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             style="z-index: 5;background-color:rgba(0, 0, 0, 0.1);border-color:rgba(0, 0, 0, 0);">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-3"
                             id="slide-690-layer-41"
                             data-x="['center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['-178','-178','-168','-141']"
                             data-width="1"
                             data-height="100"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:[100%];s:500;e:Power1.easeIn;s:500;e:Power1.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1500"
                             data-responsive_offset="on"
                             data-responsive="off"
                             style="z-index: 9;background-color:#ffffff;border-color:rgba(255, 255, 255, 0);">
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption Creative-SubTitle tp-resizeme rs-parallaxlevel-2"
                             id="slide-690-layer-31"
                             data-x="['center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['-91','-91','-81','-64']"
                             data-fontsize="['14','14','14','12']"
                             data-lineheight="['14','14','14','12']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
                             data-transform_out="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-start="2350"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 7; white-space: nowrap;text-align:center;">PROFESSIONAL STYLES
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption Creative-Title tp-resizeme rs-parallaxlevel-1"
                             id="slide-690-layer-21"
                             data-x="['center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['-10','-10','-10','-10']"
                             data-fontsize="['70','70','50','40']"
                             data-lineheight="['70','70','55','45']"
                             data-width="['none','none','none','320']"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
                             data-transform_out="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-start="2550"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 8; white-space: nowrap;text-align:center;">BUILD BEAUTIFUL
                            <br/> WEBSITES
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-3"
                             id="slide-690-layer-51"
                             data-x="['center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['137','137','119','100']"
                             data-width="1"
                             data-height="100"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:[-100%];s:500;e:Power1.easeIn;s:500;e:Power1.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="2900"
                             data-responsive_offset="on"
                             data-responsive="off"
                             style="z-index: 9;background-color:#ffffff;border-color:rgba(255, 255, 255, 0);">
                        </div>
                    </li>

                    <li data-index="rs-6903" data-transition="fadethroughdark" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="2000" data-thumb="upload/slider_09.jpg" data-rotate="0" data-saveperformance="off" data-title="Vision Mission" data-param1="03" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('bundles/front/upload/slider_09.jpg') }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-tobggroup"
                             id="slide-690-layer-113"
                             data-x="['center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['0','0','0','0']"
                             data-width="full"
                             data-height="full"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;"
                             data-transform_out="opacity:0;s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
                             data-start="150"
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             style="z-index: 5;background-color:rgba(0, 0, 0, 0.4);border-color:rgba(0, 0, 0, 0);">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-3"
                             id="slide-690-layer-413"
                             data-x="['center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['-178','-178','-168','-141']"
                             data-width="1"
                             data-height="100"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:[100%];s:500;e:Power1.easeIn;s:500;e:Power1.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1500"
                             data-responsive_offset="on"
                             data-responsive="off"
                             style="z-index: 9;background-color:#ffffff;border-color:rgba(255, 255, 255, 0);">
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption Creative-SubTitle tp-resizeme rs-parallaxlevel-2"
                             id="slide-690-layer-313"
                             data-x="['center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['-91','-91','-81','-64']"
                             data-fontsize="['14','14','14','12']"
                             data-lineheight="['14','14','14','12']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
                             data-transform_out="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-start="2350"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 7; white-space: nowrap;text-align:center;">HAPPY CLIENTS
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption Creative-Title tp-resizeme rs-parallaxlevel-1"
                             id="slide-690-layer-213"
                             data-x="['center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['-10','-10','-10','-10']"
                             data-fontsize="['70','70','50','40']"
                             data-lineheight="['70','70','55','45']"
                             data-width="['none','none','none','320']"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
                             data-transform_out="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-start="2550"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 8; white-space: nowrap;text-align:center;">WE LOVE OUR
                            <br/> AWESOME CLIENTS
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-3"
                             id="slide-690-layer-513"
                             data-x="['center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['137','137','119','100']"
                             data-width="1"
                             data-height="100"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:[-100%];s:500;e:Power1.easeIn;s:500;e:Power1.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="2900"
                             data-responsive_offset="on"
                             data-responsive="off"
                             style="z-index: 9;background-color:#ffffff;border-color:rgba(255, 255, 255, 0);">
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div>
    </div>

    <section class="section">
        <section class="section messagesection custommessage color8">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>SOBRE NOSOTROS</h3>
                </div>
            </div><!-- end row -->
        </section><!-- end section -->

        <div class="row">
            <div class="col-md-6">
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over Latin words, combined with a handful of model sentence structures, words etc.</p>
            </div><!-- end col -->

            <div class="col-md-6">
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over Latin words, combined with a handful of model sentence structures, words etc.</p>
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="container">
            <div class="row social-count">
                <div class="col-md-3">
                    <a href="#">
                        <div class="panel panel-default twitter">
                            <div class="panel-body">
                                <small class="social-title">Twitter</small>
                                <span class="stat-count">3312</span>
                                <i class="fa fa-twitter"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="panel panel-default google-plus">
                            <div class="panel-body">
                                <small class="social-title">Google+</small>
                                <span class="stat-count">5553</span>
                                <i class="fa fa-google-plus"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="panel panel-default facebook-like">
                            <div class="panel-body">
                                <small class="social-title">Facebook Like</small>
                                <span class="stat-count">1122</span>
                                <i class="fa fa-facebook"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="panel panel-default linkedin">
                            <div class="panel-body">
                                <small class="social-title">Connected Visitor</small>
                                <span class="stat-count">345</span>
                                <i class="fa fa-linkedin"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        <div class="row">
            <br><br>
        <div class="col-md-8 col-md-offset-2 text-center">
           <a href="#" class="btn btn-default">Empieza Ahora!</a>
        </div>
        </div>
    </section><!-- end section -->

    <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h4>How We Are Working Like a Professionally</h4>
                            <h1>NUESTROS PRODUCTOS</h1>
                            <hr>
                        </div><!-- end title -->
                    </div>
                </div>
            </div><!-- end container -->
    </section><!-- end section -->

    <section class="section lb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- tabs left -->
                    <div class="tabbable customtab">
                        <ul class="nav nav-pills nav-stacked col-md-3">
                            <li class="active">
                                <a href="#a" data-toggle="tab">
                                    <h3>Shop Compatible</h3>
                                    <p>Access all the
                                        tures and settings you need with panel.</p>
                                </a>
                            </li>
                            <li>
                                <a href="#b" data-toggle="tab">
                                    <h3>Portfolio Compatible</h3>
                                    <p>Keep your site online with truly balanced CPU, RAM and IO limits.</p>
                                </a>
                            </li>
                            <li>
                                <a href="#c" data-toggle="tab">
                                    <h3>150+ Shortcodes</h3>
                                    <p>If you need more power, you can level up your CPU, RAM, one click.</p>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content col-md-9">
                            <div class="tab-pane fade in active" id="a">
                                <div class="tab-padding clearfix">
                                    <img src="{{ asset('bundles/front/upload/device_01.png') }}" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="b">
                                <div class="tab-padding clearfix">
                                    <img src="{{ asset('bundles/front/upload/device_02.png') }}" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="c">
                                <div class="tab-padding clearfix">
                                    <img src="{{ asset('bundles/front/upload/device_03.png') }}" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end container -->
    </section><!-- end section -->

    <div class="row">
        <br>
        <div class="col-md-8 col-md-offset-2 text-center">
            <a href="#" class="btn btn-default">Ver nuestros productos</a>
        </div>
        <br><br>
    </div>

    <section class="section messagesection custommessage color10">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>OPORTUNIDAD DE NEGOCIO</h1>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->


    <section class="section lb">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="image-box-1">
                        <div class="image-box-desc">
                            <h2>Welcome <span>to Convert</span></h2>
                            <p>Hi there, welcome to the ©Convert Web Solutions INC. We are small group who design beautiful website. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus, velit nec luctus dictum. </p>

                            <hr class="invis">

                            <img src="{{ asset('bundles/front/upload/sign.png') }}" alt="">

                        </div><!-- end desc -->
                    </div><!-- end image-box 1 -->
                </div><!-- end col -->

                <div class="col-md-3">
                    <div class="image-box-1 colormagnifier">
                        <div class="image-boxes entry">
                            <img src="{{ asset('bundles/front/upload/service_01.jpg') }}" alt="" class="img-responsive">
                            <div class="magnifier">
                                <a href="#">
                                    <div class="hovericons">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div><!-- end magnifier -->
                        </div><!-- end image-boxes -->
                        <div class="image-box-desc">
                            <h4>Who We Are</h4>
                            <p>Hi there, welcome to the ©Convert Web Solutions INC. We are small group who design beautiful website.</p>
                            <a href="#" class="readmore">Learn More</a>
                        </div><!-- end desc -->
                    </div><!-- end image-box 1 -->
                </div><!-- end col -->

                <div class="col-md-3">
                    <div class="image-box-1 colormagnifier">
                        <div class="image-boxes entry">
                            <img src="{{ asset('bundles/front/upload/service_02.jpg') }}" alt="" class="img-responsive">
                            <div class="magnifier">
                                <a href="#">
                                    <div class="hovericons">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div><!-- end magnifier -->
                        </div><!-- end image-boxes -->
                        <div class="image-box-desc">
                            <h4>What We Do</h4>
                            <p>We are small group who design beautiful website templates, creative mobile applications, graphics.</p>
                            <a href="#" class="readmore">Learn More</a>
                        </div><!-- end desc -->
                    </div><!-- end image-box 1 -->
                </div><!-- end col -->

                <div class="col-md-3">
                    <div class="image-box-1 colormagnifier">
                        <div class="image-boxes entry">
                            <img src="{{ asset('bundles/front/upload/service_03.jpg') }}" alt="" class="img-responsive">
                            <div class="magnifier">
                                <a href="#">
                                    <div class="hovericons">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div><!-- end magnifier -->
                        </div><!-- end image-boxes -->
                        <div class="image-box-desc">
                            <h4>Our Mission</h4>
                            <p>Beautiful website templates, creative mobile applications,, welcome to the ©Convert Web Solutions INC.</p>
                            <a href="#" class="readmore">Learn More</a>
                        </div><!-- end desc -->
                    </div><!-- end image-box 1 -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->

        <div class="row">
            <br>
            <div class="col-md-8 col-md-offset-2 text-center">
                <a href="#" class="btn btn-default">Ver Planes de Compensación</a>
            </div>
            <br><br>
        </div>

    </section><!-- end section -->

    <section class="section db">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="custom_fact_item row">
                        <div class="icon_holder col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <span class="fa fa-bar-chart"></span>
                        </div>
                        <div class="custom_fact_name col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <h6>Awards Winning</h6>
                            <span>We have won awards in a short time</span>
                        </div>
                        <span class="col-lg-3 col-md-3 col-sm-2 col-xs-12 stat-count">3331</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="custom_fact_item row">
                        <div class="icon_holder col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <span class="fa fa-braille"></span>
                        </div>
                        <div class="custom_fact_name col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <h6>Happy Clients</h6>
                            <span>We have hundreds of happy clients</span>
                        </div>
                        <span class="col-lg-3 col-md-3 col-sm-2 col-xs-12 stat-count">561</span>
                    </div>
                </div>

            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->

    <section class="section messagesection custommessage color2">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>TESTIMONIOS</h1>
            </div>
        </div><!-- end row -->
     </section><!-- end section -->

    <section class="section db">
        <div class="container-fluid">
            <div class="portfolio-wrapper">
                <div class="service-carousel-2 owl-carousel owl-theme">
                    <div class="pitem gallery-item">
                        <div class="media-element colormagnifier">
                            <div class="entry">
                                <img src="{{ asset('bundles/front/upload/single_portfolio_01.jpg')}}" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="magni-desc">
                                        <p>Web Design</p>
                                        <h4><a href="page-team-2.html">Lamb in Desctop</a></h4>
                                        <a class="firsticon" data-rel="prettyPhoto" href="{{ asset('bundles/front/upload/single_portfolio_01.jpg')}}"><i class="fa fa-search"></i></a>
                                        <a class="secondicon" href="portfolio-single-1.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end team-desc -->
                                </div><!-- end magnifier -->
                            </div>
                        </div><!-- end media -->
                    </div><!-- item -->

                    <div class="pitem gallery-item">
                        <div class="media-element colormagnifier">
                            <div class="entry">
                                <img src="{{ asset('bundles/front/upload/single_portfolio_02.jpg') }}" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="magni-desc">
                                        <p>Web Design</p>
                                        <h4><a href="page-team-2.html">Landscape Web Materials</a></h4>
                                        <a class="firsticon" data-rel="prettyPhoto" href="{{ asset('bundles/front/upload/single_portfolio_02.jpg') }}"><i class="fa fa-search"></i></a>
                                        <a class="secondicon" href="portfolio-single-1.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end team-desc -->
                                </div><!-- end magnifier -->
                            </div>
                        </div><!-- end media -->
                    </div><!-- item -->

                    <div class="pitem gallery-item">
                        <div class="media-element colormagnifier">
                            <div class="entry">
                                <img src="{{ asset('bundles/front/upload/single_portfolio_03.jpg') }}" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="magni-desc">
                                        <p>Material Design</p>
                                        <h4><a href="page-team-2.html">Cups of Coffee</a></h4>
                                        <a class="firsticon" data-rel="prettyPhoto" href="{{ asset('bundles/front/upload/single_portfolio_03.jpg') }}"><i class="fa fa-search"></i></a>
                                        <a class="secondicon" href="portfolio-single-1.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end team-desc -->
                                </div><!-- end magnifier -->
                            </div>
                        </div><!-- end media -->
                    </div><!-- item -->

                    <div class="pitem gallery-item">
                        <div class="media-element colormagnifier">
                            <div class="entry">
                                <img src="{{ asset('bundles/front/upload/single_portfolio_04.jpg') }}" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="magni-desc">
                                        <p>Mockup Design</p>
                                        <h4><a href="page-team-2.html">100 white stairs</a></h4>
                                        <a class="firsticon" data-rel="prettyPhoto" href="{{ asset('bundles/front/upload/single_portfolio_04.jpg') }}"><i class="fa fa-search"></i></a>
                                        <a class="secondicon" href="portfolio-single-1.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end team-desc -->
                                </div><!-- end magnifier -->
                            </div>
                        </div><!-- end media -->
                    </div><!-- item -->

                    <div class="pitem gallery-item">
                        <div class="media-element colormagnifier">
                            <div class="entry">
                                <img src="{{ asset('bundles/front/upload/single_portfolio_05.jpg') }}" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="magni-desc">
                                        <p>Mockup Design</p>
                                        <h4><a href="page-team-2.html">Man and Woman Happy to Work</a></h4>
                                        <a class="firsticon" data-rel="prettyPhoto" href="{{ asset('bundles/front/upload/single_portfolio_05.jpg') }}"><i class="fa fa-search"></i></a>
                                        <a class="secondicon" href="portfolio-single-1.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end team-desc -->
                                </div><!-- end magnifier -->
                            </div>
                        </div><!-- end media -->
                    </div><!-- item -->

                    <div class="pitem gallery-item">
                        <div class="media-element colormagnifier">
                            <div class="entry">
                                <img src="{{ asset('bundles/front/upload/single_portfolio_06.jpg') }}" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="magni-desc">
                                        <p>Photography</p>
                                        <h4><a href="page-team-2.html">Laptop Workspace Example</a></h4>
                                        <a class="firsticon" data-rel="prettyPhoto" href="{{ asset('bundles/front/upload/single_portfolio_06.jpg') }}"><i class="fa fa-search"></i></a>
                                        <a class="secondicon" href="portfolio-single-1.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end team-desc -->
                                </div><!-- end magnifier -->
                            </div>
                        </div><!-- end media -->
                    </div><!-- item -->

                    <div class="pitem gallery-item">
                        <div class="media-element colormagnifier">
                            <div class="entry">
                                <img src="{{ asset('bundles/front/upload/single_portfolio_07.jpg') }}" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="magni-desc">
                                        <p>Mockup Design</p>
                                        <h4><a href="page-team-2.html">Web Design Materials</a></h4>
                                        <a class="firsticon" data-rel="prettyPhoto" href="{{ asset('bundles/front/upload/single_portfolio_07.jpg') }}"><i class="fa fa-search"></i></a>
                                        <a class="secondicon" href="portfolio-single-1.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end team-desc -->
                                </div><!-- end magnifier -->
                            </div>
                        </div><!-- end media -->
                    </div><!-- item -->
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <br><br>
        <div class="col-md-8 col-md-offset-2 text-center">
            <a href="#" class="btn btn-primary btn-block btn-lg">Ver mas testimonios</a>
            <!-- <a href="#" class="btn btn-default">Empieza Ahora!</a>-->
        </div>
    </div>




    <section class="section messagesection custommessage color6">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>NUESTRA MISIÓN</h1>
            </div>
        </div><!-- end row -->
    </section><!-- end section -->

    <section class="section">
        <div class="container">
            <div class="row service-list">
                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox6">
                        <div class="service-icon withborder color1 hovicon effect-1 sub-a">
                            <i class="fa fa-american-sign-language-interpreting"></i>
                        </div>
                        <div class="service-content">
                            <h3>Target Catch</h3>
                            <p>
                                Nunc sagittis ex malesuada magna imperdiet, ac pulvinar mi faucibus.
                            </p>
                        </div>
                    </div>
                </div><!-- end col -->

                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox6">
                        <div class="service-icon withborder color2 hovicon effect-1 sub-a">
                            <i class="fa fa-anchor"></i>
                        </div>
                        <div class="service-content">
                            <h3>Monitoring</h3>
                            <p>
                                Pellentesque at tellus vitae augue sodales lobortis eget in ipsum.
                            </p>
                        </div>
                    </div>
                </div><!-- end col -->

                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox6">
                        <div class="service-icon withborder color3 hovicon effect-1 sub-a">
                            <i class="fa fa-bicycle"></i>
                        </div>
                        <div class="service-content">
                            <h3>Worldwide Ranking</h3>
                            <p>
                                Aliquam volutpat odio nec lorem tempor, eget feugiat nisi sodales.
                            </p>
                        </div>
                    </div>
                </div><!-- end col -->

                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox6">
                        <div class="service-icon withborder color4 hovicon effect-1 sub-a">
                            <i class="fa fa-magic"></i>
                        </div>
                        <div class="service-content">
                            <h3>Number 1 In Search</h3>
                            <p>
                                Nam consequat quam ac metus vestibulum, eget vehicula urna pretium.
                            </p>
                        </div>
                    </div>
                </div><!-- end col -->

                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox6">
                        <div class="service-icon withborder color5 hovicon effect-1 sub-a">
                            <i class="fa fa-object-group"></i>
                        </div>
                        <div class="service-content">
                            <h3>Engine Optimization</h3>
                            <p>
                                In egestas arcu scelerisque lorem euismod, eget sollicitudin orci fringilla.
                            </p>
                        </div>
                    </div>
                </div><!-- end col -->

                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox6">
                        <div class="service-icon withborder color6 hovicon effect-1 sub-a">
                            <i class="fa fa-wifi"></i>
                        </div>
                        <div class="service-content">
                            <h3>Research Optimization</h3>
                            <p>
                                Suspendisse eget ligula a turpis semper accumsan at non tortor.
                            </p>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->

        <div class="row">
            <br><br>
            <div class="col-md-8 col-md-offset-2 text-center">
                <a href="#" class="btn btn-primary btn-block btn-lg">Empieza Ahora</a>
                <!-- <a href="#" class="btn btn-default">Empieza Ahora!</a>-->
            </div>
        </div>

    </section>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".signin").click(function (e) {
                e.preventDefault();
                $("fieldset#signin_menu").toggle();
                $(".signin").toggleClass("menu-open");
                if ($('.signin').hasClass('menu-open')) {
                    $('.signin i.icon-angle-up').removeClass('icon-angle-up').addClass('icon-angle-down');
                } else {
                    $('.signin i.icon-angle-down').removeClass('icon-angle-down').addClass('icon-angle-up');
                }
            });

            $("fieldset#signin_menu").mouseup(function () {
                return false
            });
            $(document).mouseup(function (e) {
                if ($(e.target).parent("a.signin").length == 0) {
                    $(".signin").removeClass("menu-open");
                    $("fieldset#signin_menu").hide();
                    $('.signin i.icon-angle-down').removeClass('icon-angle-down').addClass('icon-angle-up');
                }
            });

        });
    </script>
{% endblock %}