<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="{{ asset('bundles/admin/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/admin/plugins/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('bundles/admin/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('bundles/admin/css/style-metro.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/admin/css/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/admin/css/style-responsive.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/admin/css/themes/default.css') }}" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ asset('bundles/admin/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/admin/plugins/gritter/css/jquery.gritter.css') }}" rel="stylesheet" type="text/css"/>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="fixed-top">
<div class="header navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">
                <img src="{{ asset('bundles/admin/img/logo.png') }}" alt="logo"/>
            </a>
            <a href="#" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <img src="{{ asset('bundles/admin/img/menu-toggler.png') }}" alt=""/>
            </a>
            <ul class="nav pull-right">
                {% block notifications %}{% endblock %}
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img alt="" src="{{ asset('bundles/admin/img/avatar1_small.jpg') }}"/>
                        <span class="username">{{ app.user.username }}</span>
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
                        <li><a href="#"><i class="icon-calendar"></i> My Calendar</a></li>
                        <li><a href="#"><i class="icon-envelope"></i> My Inbox(3)</a></li>
                        <li><a href="#"><i class="icon-tasks"></i> My Tasks</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('logout') }}"><i class="icon-key"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="page-container">
    <div class="page-sidebar nav-collapse collapse">
        <ul>
            <li>
                <div class="sidebar-toggler hidden-phone"></div>
            </li>
            <li>
                <form class="sidebar-search">
                    <div class="input-box">
                        <a href="javascript:;" class="remove"></a>
                        <input type="text" placeholder="Search..."/>
                        <input type="button" class="submit" value=" "/>
                    </div>
                </form>
            </li>
            {% block menu %}{% endblock %}
        </ul>
    </div>

    <div class="page-content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">{{ block('title') }}
                        <small>{% block description %} {% endblock %}</small>
                    </h3>
                    <ul class="breadcrumb"></ul>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<div class="footer">
    2013 &copy; Metronic by keenthemes.
    <div class="span pull-right">
        <span class="go-top"><i class="icon-angle-up"></i></span>
    </div>
</div>
<script src="{{ asset('bundles/admin/plugins/jquery-1.8.3.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/admin/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('bundles/admin/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/admin/plugins/breakpoints/breakpoints.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('bundles/admin/plugins/jquery.blockui.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/admin/plugins/jquery.cookie.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/admin/plugins/uniform/jquery.uniform.min.js') }}" type="text/javascript"></script>

<script src="{{ asset('bundles/admin/plugins/jquery.pulsate.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/admin/plugins/gritter/js/jquery.gritter.js') }}" type="text/javascript"></script>

<script src="{{ asset('bundles/admin/scripts/app.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/admin/scripts/codes.js') }}" type="text/javascript"></script>
<script>
    jQuery(document).ready(function () {
        App.init();
        Codes.init();
        Codes.initOptions();
        Codes.initIntro();
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
